@use '../abstracts/variables' as *;

.hover-primary:hover {
  color: $primary !important;
}

.cursor-pointer {
  cursor: pointer;
}

.gap {
  gap: 0.75rem;
}

.seperator {
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 14px 1px;
  background-repeat: repeat-x;
}

.shadow {
  box-shadow: $shadow !important;
}

.fw-semibold {
  font-weight: 600;
}

.nice-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $gray;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}