@use '../abstracts/variables' as *;

.btn {
  padding: 0.5rem 2rem;

  &:not(.font-light) {
    font-family: $tajawal-bold;
  }

  &-lg {
    border-radius: 1rem;
  }

  &-sm {
    padding: 0.5rem 0.5rem;
    gap: 10px;
  }

  &-primary {
    border-color: $primary !important;
    background-color: $primary !important;
    color: $white !important;

    &:hover {
      border-color: $primary-light !important;
      background-color: $primary-light !important;
    }
  }

  &-primary-light {
    border-color: $primary-light !important;
    background-color: $primary-light !important;
    color: $white !important;

    &:hover {
      border-color: $primary !important;
      background-color: $primary !important;
    }
  }

  &-outline-primary {
    border-color: $primary-light !important;
    background-color: transparent !important;
    color: $black !important;

    &:hover {
      background-color: $primary-light !important;
      color: $white !important;
    }
  }
}