@use '../abstracts/variables' as *;

.counter {
  gap: 10px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $white;

  .btn {
    border-radius: 0;
    font-size: 1.2rem;
    font-family: $tajawal-bold;

    &:hover {
      background-color: $gray;
      color: $white;
    }
  }

  span {
    display: inline-block;
    width: 15px;
    text-align: center;
    font-size: 1.1rem;
    font-family: $tajawal-bold;
  }
}