@use '../abstracts/variables' as *;

.modal {

  @media (min-width: 576px) {
    &-dialog {
        max-width: 600px;
    }
  }

  &-content {
    border: 0;
    border-radius: 0.75rem;
    background-color: $bg-light;
  }

  &-body {
    min-height: 300px;
  }

  &-header {
    border: 0;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: $white;
  }

  &-title {
    font-family: $tajawal-bold;
  }

  .close {
    display: none;
  }

  

  &-footer {
    border: 0;
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: $white;
    box-shadow: $shadow;

    &>div {
      gap: 15px;
    }
  }
}