@use '../abstracts/variables' as *;

.navbar {
  flex-wrap: nowrap;
  background-color: $primary;
  color: $white;

  .navbar-brand {
    &__container {
      width: calc(#{ $side_bar_width } - 15px);
      
      @media screen and (max-width: 767px) {
        width: auto;
      }

      @media screen and (max-width: 576px) {
        img {
          width: 80px;
        }
      }
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .notification-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $red;

    &.has-new {
      background-color: $red;
    }
  }

  .search-icon {
    @media screen and (max-width: 320px) {
      display: none;
    }
  }

  .user-dropdown-btn {
    gap: 10px;
    text-align: center;

    span {
      font-size: 0.8rem;
    }

    @media screen and (max-width: 320px) {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .navbar-nav {
    gap: 20px;

    .line {
      width: 1px;
      height: 50px;
      background-color: $white;
    }

    @media screen and (max-width: 576px) {
      gap: 10px;
    }
  }
}