@use '../abstracts/variables' as *;

.sidebar {
  width: $side_bar_width;
  height: calc(100vh - #{ $nav_height_lg });
  max-width: 100%;
  background-color: $primary-light;

  @media screen and (max-width: 1200px) {
    position: fixed;
    top: $nav_height_lg;
    right: -100%;
    z-index: 9;
    transition: right 300ms ease;

    &.show {
      right: 0;
    }

    &__overlay {
      position: fixed;
      top: $nav_height_lg;
      right: 0;
      width: 100%;
      height: calc(100vh - #{ $nav_height_lg });
      z-index: 8;
      background-color: $overlay;
      opacity: 0;
      visibility: hidden;
      transition: visibility 300ms ease,
                  opacity 300ms ease;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }


  &__links {
    padding-top: 1rem;
    padding-bottom: 1rem;

    li {
      margin-bottom: 5px;
    }

    a {
      position: relative;
      width: 100%;
      gap: 30px;
      padding: 1rem 0.75rem;
      font-size: 1.1rem;
      color: $white;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        border-radius: 3px;
        background-color: transparent;
        z-index: 2;
        transition: 300ms;
      }

      &.nuxt-link-active,
      &:hover {
        background-color: $primary;
        font-weight: 600;

        &::before {
          background-color: rgba(255, 0, 0, 0.82);
        }
      }
      
    }
  }
}